@{
    ViewData["Title"] = "Add a NickName";
}
<h2>@ViewData["Title"]</h2>
<p>TODOWS: form input (name, nickname) -> controller</p>
<form method="TODOWS">
  Real Name:<br>
  <input type="text" name="realName" value="insert real name here">
  <br>
  Nickname:<br>
  <input type="text" name="nickName" value="insert nickname here">
  <br><br>
  <input type="submit" value="Submit">
</form>

<script>
    $(document).ready(function(){
        $('form').on('submit', function(event){
            event.preventDefault();
            var obj = getFormData($('form'));
            $.ajax({
                type: 'TODOWS',
                url: 'TODOWS',
                dataType: 'json',
                data: JSON.stringify(obj),
                contentType : 'application/json',
                success: function(data) {
                    console.log(data)
                }
            });
            return false;
        });
    });

    function getFormData($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }
</script>
