@{
    ViewData["Title"] = "NickNames";
}



<h2>@ViewData["Title"]</h2>
<p>TODOWS</p>
<ul>
    <li>
        List all nicknames of person
    </li>
    <li>
        If you have finished: Upvote / Downvote nicknames. To achieve this you will need to add a new controller, extend the model and change the view:)
    </li>

</ul>
